.actions {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 640px;
    background: url('../../assets/img/actions-section/action-bg.png') top no-repeat;
    background-size: cover;
    padding: 74px 183px 72px;
    &_cards {
      display: flex;
      gap: 50px;
      &__card {
        width: 300px;
        min-height: 236px;
        .actionSubtitle {
          margin-top: 31px;
          .calculation {
            font-size: 22px;
            color: #2B6BF3;
            margin-left: 8px;
            transition: all 0.3s;
          }
          .calculation:hover {
            text-decoration: none;
          }
          .calculation:active {
            text-decoration: underline;
          }
        }
      }
    }
    &_btn {
      margin-top: 36px;
      width: 296px;
      height: 48px;
      border: none;
      border-radius: 32px;
      background-color: #FFDD2D;
      font-size: 18px;
      color: #1D253C;
      cursor: pointer;
      transition: all 0.3s;
    }
    &_btn:hover {
      color: #FFFFFF;
    }
    &_btn:active {
      border: 2px solid #FFDD2D;
    }
    &_cityImg {
      position: absolute;
      right: 0;
      top: -65px;
    }
  }

  @media (max-width: 1024px) {
    .actions {
      padding: 54px 16px 48px;
      .sectionDescr {
        font-size: 20px;
      }
      &_cards {
        flex-direction: column;
        align-items: center;
        margin-top: 31px;
        &__card {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          .cardDescr {
            text-align: center;
          }
        }
      }
      &_cityImg {
        display: none;
      }
    }
  }