.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #F8FAFF;
    width: 100%;
    height: 80px;
    padding: 8px 32px;
    &_leftSide {
      display: flex;
      align-items: center;
      gap: 66px;
      &__logo {
        display: inline-block;
        width: 192px;
        height: 64px;
        img {
          display: inline-block;
          width: 100%;
          height: 100%;
        }
      }
      &__locationBtn {
        display: flex;
        align-items: center;
        gap: 6px;
      }
    }
    &_inputWrapper {
      position: relative;
      &__input {
        width: 184px;
        height: 40px;
        padding-left: 16px;
        border-radius: 8px;
        border: 1px solid #B7C6E7;
        color: #1D253C;
        font-size: 14px;
      }
      &__input:focus {
        outline: none;
        border: 1px solid #2B6BF3;
      }
      &__input:focus + &__btn .inputBtnIcon path {
        color: #2B6BF3;
      }
      &__btn {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 50%;
        transform: translateY(-50%);
        right: 12px;
        border: none;
        background-color: inherit;
        cursor: pointer;
        .inputBtnIcon path {
          color: #B7C6E7;
        }
      }
    }
    &_rightSide {
      display: flex;
      align-items: center;
      &__parcelBtn {
        margin-right: 36px;
      }
      &__courierBtn {
        margin-right: 32px;
      }
      &__authBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 100%;
        background-color: #2B6BF3;
        cursor: pointer;
        transition: all 0.3s;
      }
      &__authBtn:active {
        border: 2px solid #2B6BF3;
      }
    }
    .headerBtn {
      border: none;
      color: #666666;
      font-size: 16px;
      background-color: inherit;
      cursor: pointer;
      transition: all 0.3s;
    }
    .headerBtn:hover {
      text-decoration: underline;
    }
    .headerBtn:active {
      text-decoration: none;
    }
  }
  .header:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #D0DEFD;
  }