.advertising {
    position: relative;
    min-height: 648px;
    padding: 98px 183px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    &_cards {
      display: flex;
      margin-top: 39px;
      gap: 50px;
      &__card {
        width: 300px;
        min-height: 280px;
        border: 2px solid #B7C6E7;
        border-radius: 8px;
        padding: 23px 24px 20px;
        background-color: #F8FAFF;
        cursor: pointer;
        transition: all 0.3s;
        .advIconsWrapper {
          display: flex;
          .cardRouteIcon {
            margin-top: 32px;
          }
        }
      }
      &__card:hover {
        background-color: #FFFFFF;
      }
    }
  }
  
  .advertising:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #B7C6E7;
  }
  
  .dividerIcon {
    position: absolute;
    background-color: inherit;
    padding: 0 34px;
    bottom: -15px;
  }