.payment {
    position: relative;
    min-height: 344px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    padding: 98px 103px 96px;
    &_slider {
        margin-top: 46px;
        width: 100%;
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        cursor: pointer;
        .arrowBtn {
            border: none;
            background-color: #FFFFFF;
            padding: 10px;
            cursor: pointer;
        }
        &__slide {
            display: flex !important;
            justify-content: center !important;
        }
        &__slide:active {
            outline: none !important;
        }
    }
}
.payment:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #B7C6E7;
}

// .slick-prev:before {
//     cont
// }